@import './utiles.scss',
'./colors.scss';
@font-face {
    font-family: 'times-new-roman';
    src: url('../assets/font/times-new-roman.ttf') format('truetype');
}

* {
    font-family: 'times-new-roman';
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.--dark {
    color: #FFFFFF;
    background-color: #000000;
}

header {
    display: block;
    // align-items: center;
    // flex-direction: column;
    // justify-content: center;
    // height: 30vh;
}

h1 {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
    font-weight: bold;
    margin: 1rem;
    @include large-tablet-and-more {
        font-size: 3rem;
    }
}

.pack {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    max-width: 100vw;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: max-width 0.3s linear;
    &>img {
        cursor: pointer;
        @include small-tablet-and-less {
            height: 50%;
        }
        @include tablet-and-less {
            content: url('../assets/images/windchime-box_mobile.png');
        }
        @include tablet-and-more {
            height: 90%;
            width: auto;
        }
        @include large-tablet-and-more {
            content: url('../assets/images/windchime-box_desktop.png');
        }
    }
}

.pack--opened {
    max-width: 0;
}

.main-title {
    cursor: pointer;
}

$data-height-mobile: 1.5rem;
$data-height-tablet: 2rem;
$data-height-desktop: 2.25rem;
$button-width-mobile: 5rem;
$button-width-tablet: 7rem;
$button-width-large-tablet: 9rem;
$button-width-desktop: 10rem;
$data-margin-mobile: 0.25rem;
$data-margin-tablet: 0.5rem;
$data-margin-desktop: 1.5rem;
.databox {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0.7rem 0.5rem 0.3rem;
    border-style: solid;
    border-width: 3px;
    border-color: #000000;
    gap: 0.5rem;
    transition: max-height 0.2s linear, border-color 0.2s ease-in-out;
    @include mobile {}
    @include small-tablet {
        max-width: calc($button-width-tablet * 4 + $data-margin-mobile * 8);
    }
    @include small-tablet-and-less {
        width: 85%;
    }
    @include tablet-and-more {
        width: calc($button-width-tablet * 4 + $data-margin-tablet * 8);
    }
    & .data {
        @include small-tablet-and-less {
            width: calc(25% - 2 * $data-margin-mobile);
        }
        @include small-tablet {
            max-width: $button-width-tablet;
        }
        @include tablet-and-more {
            width: $button-width-tablet;
        }
        &__button,
        &__value {
            box-sizing: border-box;
            width: 100%;
            height: $data-height-mobile;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 11px;
            @include tablet {
                font-size: 13px;
            }
            @include large-tablet {
                font-size: 1rem;
            }
            // @include large-tablet-and-more {
            //     height: $data-height-tablet;
            // }
            // @include desktop {
            //     margin: 0;
            //     // height: $data-height-desktop;
            //     font-size: 1.25rem;
            // }
        }
        &__button {
            box-sizing: border-box;
            border: 0;
            padding: 0;
            margin: 0;
            border: 1px solid #000000;
            &:hover {
                background-color: #000000;
                color: #FFFFFF;
            }
            // @include desktop {
            //     width: $button-width-desktop;
            // }
        }
        & .--dark {
            background-color: #000000;
            color: #FFFFFF;
            border: 1px solid #FFFFFF;
        }
        &__value {
            margin: 0;
            @include large-tablet {
                margin-top: 0.25rem;
            }
            @include desktop {
                flex-grow: 1;
                display: block;
                // width: calc(100% - $button-width-desktop);
                text-align: center;
            }
        }
    }
}

main {
    position: relative;
    top: 1rem;
    flex-grow: 1;
    display: flex;
    & #windchimeBox {
        height: 34rem;
        width: 24rem;
        margin: 0 auto;
        max-width: 800px;
    }
    & .plate,
    & .strings,
    & .mass {
        -webkit-user-select: none;
        /* Safari */
        -moz-user-select: none;
        /* Firefox */
        -ms-user-select: none;
        /* IE10+/Edge */
        user-select: none;
        /* Standard */
    }
    & .plate {
        margin: 0;
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        // max-width: 100vw;
        font-size: 1.5rem;
        @include mobile {
            font-size: 1rem;
        }
    }
    & .strings {
        position: absolute;
        display: none;
        font-size: 1.5rem;
        text-align: center;
        @include mobile {
            font-size: 1rem;
        }
    }
    & .mass {
        position: absolute;
        display: none;
        text-align: center;
        font-size: 10vh;
        @include mobile {
            font-size: 4em;
        }
    }
    & .core {
        transform: scale(2);
    }
}