@import './utiles.scss',
'./colors.scss';

html, body {
    width: 100%;
    height: 100%;
}

html {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @include tablet-and-less {
        height: 20vh;
    }
    @include desktop {
        margin-left: 8%;
        width: 24rem;
    }
}

h1 {
    font-size:2rem;
    text-align:center;
    font-weight: 500;
    @include large-tablet-and-more {
        font-size: 3rem;
    }
}

.databox {
    $button-width-mobile: 5rem;
    $button-width-tablet: 7rem;
    $button-width-large-tablet: 9rem;
    $button-width-desktop: 10rem;
    $data-margin-mobile: 0.25rem;
    $data-margin-tablet: 0.5rem;
    $data-margin-desktop: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    @include mobile {
        width: 95%;
    }
    @include small-tablet {
        margin: auto;
        width: 85%;
        max-width: calc($button-width-tablet * 5 + $data-margin-mobile * 10);
    }
    @include small-tablet-and-more {
        & .force {
            order: 1;
        } 
        & .input {
            order: 2;
        }
        & .mode {
            order: 3;
        }
        & .sensitivity {
            order: 4;
        }
        & .mute {
            order: 5;
        }
        & .pattern {
            order: 6;
        } 
        & .plate {
            order: 7;
        }
        & .string {
            order: 8;
        }
        & .look {
            order: 9;
        }
        & .sound {
            order: 10;
        }
    }
    // @include desktop {
    //     & .force {
    //         order: 1;
    //     } 
    //     & .input {
    //         order: 3;
    //     }
    //     & .mode {
    //         order: 9;
    //     }
    //     & .sensitivity {
    //         order: 2;
    //     }
    //     & .mute {
    //         order: 10;
    //     }
    //     & .pattern {
    //         order: 4;
    //     } 
    //     & .plate {
    //         order: 7;
    //     }
    //     & .string {
    //         order: 8;
    //     }
    //     & .look {
    //         order: 9;
    //     }
    //     & .sound {
    //         order: 5;
    //     }
    // }
    @include tablet {
        width: calc($button-width-tablet * 5 + $data-margin-tablet * 10);
    }
    @include large-tablet-and-more {
        width: calc($button-width-large-tablet * 5 + $data-margin-tablet * 10);
    }
    @include desktop {
        width: 100%;
    }
    & .data {
        @include small-tablet-and-less {
            margin: $data-margin-mobile;
        }
        @include mobile {
            width: calc(25% - 2 * $data-margin-mobile);
        }
        @include small-tablet {
            width: calc(20% - 2 * $data-margin-mobile);
            max-width: $button-width-tablet;
        }   
        @include tablet{
            margin: $data-margin-tablet;
            width: $button-width-tablet;
        }
        @include large-tablet-and-more {
            width: $button-width-large-tablet;
        }
        @include desktop {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin-top: $data-margin-desktop;
            width: 24rem;
        }

        &__button, &__value {
            box-sizing: border-box;
            width: 100%;
            height: 1.5rem;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 11px;
            font-family: 'Inter', sans-serif;
            @include tablet{
                font-size: 13px;
            }
            @include large-tablet {
                font-size: 1rem;
            }
            @include large-tablet-and-more {
                height: 2rem;
            }
            @include desktop {
                margin: 0;
                height: 2.25rem;
                font-size: 1.25rem;
            }
        }
        &__button {
            box-sizing: border-box;
            border: 0;
            padding: 0;
            margin: 0;
            &:focus {
                outline: 1.5px solid #000000 ;
            }
            @include desktop {
                width: $button-width-desktop;
            }
        }
        &__value {
            margin: 0;
            @include large-tablet {
                margin-top: 0.25rem;
            }
            @include desktop {
                flex-grow: 1;
                display: block;
                width: calc(100% - $button-width-desktop);
                text-align: center;
            }
        }
    }
}

main {
    flex-grow: 1;
    & #windchimeBox { 
        height: 80vh;
        position: relative;
        min-width:100vw;
    }
    & #plate {
        margin: 0;
        position:absolute;
        top: 0!important;
        width: 120vw; 
        width: 100%; 
        color: black;
        text-align: center;
        max-width: 100vw;
        font-size: 2rem;
        @include mobile {
            font-size: 1rem;
        }
        @include small-tablet {

        }
    }

    & .strings {
        position: absolute;
        display:none;
        font-size: 3rem;
        @include mobile {
            font-size: 1rem;
        }
    }

    & .mass {
        color: rgb(0, 0, 0);
        font-size: 4em;
        position:absolute;
        height: 10vw;
        width: 10vw;
        display:none;
        @include mobile {
            height: 5vw;
            width: 5vw;
        }
    }
}

// .slideContainer {
//     -webkit-appearance: none;
//     width: 100%;
//     height: 25px;
//     background: #d3d3d3;
//     outline: none;
//     opacity: 0.7;
//     -webkit-transition: .2s;
//     transition: opacity .2s;
// }

// .slider:hover {
//     opacity: 1;
// }

.chimeLook1{
    color:rgb(0, 0, 0);
}

.chimeLook2 {
    color:rgb(240, 166, 218);  
}
  
.chimeLook3 {
    color:rgb(249, 67, 67);
    
}

// #dataBox{
//     position: sticky;
//     display: flex;
//     flex-wrap: wrap;
//     align-content: space-between;
//     border: 1em;
// }

// .dataContentBox {
//     display: inline-block;
//     border-style: double;
//     border: 1em;
//     font-size: 2em;
//     width: 17%;
//     margin-left: 2%;
//     height: min-content;
// }